@font-face {
  font-family: 'InterVar';
  src: url('InterVariable.woff2') format('woff2-variations');
}

body {
  font-family: 'InterVar', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
