@font-face {
  font-family: 'InterVar';
  src: url('InterVariable.woff2') format('woff2-variations');
  /* font-weight: 70 400; */
}

body {
  margin: 0;
  font-family: 'InterVar', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

button {
  font-family: 'InterVar', sans-serif;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 10px;
  width: 300px;
  background-color: #0866ff; /* Bootstrap primary color */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: block;
  margin: 20px 0; /* Added margin to separate buttons */
  border: none;
}

button:hover {
  background-color: #0056b3; /* Darker shade of primary color */
}

button:active {
  background-color: #0056b3; /* Same as hover color */
}

textarea {
  font-family: 'InterVar', sans-serif;
  font-size: 15px;
  border-radius: 15px;
  padding: 10px;
}